.menu {
    /*height: 100px;*/
}

.menu__list {
    height: 100%;
    padding-left: 24px;
}

.menu__link {
    padding-bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.menu__link::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 32px;
    border-radius: 0 4px 4px 0;
    background-color: rgba(64, 244, 213, 0);

    left: -24px;
}

.menu__link:focus {
    color: #7d7d81;
}

.menu__link:focus::before {
    background-color: #40f4d5;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin: 15px;
}

.contacts__list {
    display: flex;
    gap: 10px;
}

.contacts__language-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contacts__language {
    padding-top: 30px;
}

.contacts__language-button input[type=radio] {
    display: none;
}

.contacts__language-button label {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

/* Checked */
.contacts__language-button input[type=radio]:checked + label {
    color: #7d7d81;
}

